@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: 0px;
}

a{
    text-decoration: none;
    color: #111111;
}

.tema{
    background-color: #FF5F5F;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.logo{
    width: 10vw;
}

.imgCentro{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#promocao{
    width: 100vw;
}

#slideshow{
    position: relative;
    margin: auto;
}

#setaEsquerda, #setaDireita{
    cursor: pointer;
    position: absolute;
    top: 27%;
    width: 40px;
    padding: 32px;
}

#setaEsquerda{
    left: 0;
}

#setaDireita{
    right: 0;
    rotate: 180deg;
}

#grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 6vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 6vh;
    column-gap: 5vw;
    row-gap: 6vh;
}

.grid-item{
    border-radius: 7px;
    border: 2px solid #BFBFBF;
    padding: 1vw;
    width: 35vw;
}

.imgProduto{
    height: 13vw;
    margin-left: 1vh;
    margin-right: 4vh;
    float: left;
}

.divNome{
    margin-bottom: 2vh;
}

.nomeProd{
    font-size: 22px;
}

.plataforma{
    padding-top: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1vh;
    border-radius: 10px;
    font-weight: 600;
}

.red{
    background-color: #E80018;
    color: white;
}

.green{
    background-color: #0F7B0E;
    color: white;
}

.divPreco{
    margin-top: 4vh;
}

.moeda{
    font-size: 14px;
}

.preco{
    font-size: 28px;
    font-weight: 500;
}

.elementoCentro{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#borda{
    border-right: 1px solid white;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
}

.esquerda{
    float: left;
}