@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body{
    position: relative;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: 0px;
}

#pagina-container{
    padding-bottom: 12vh;
}

a{
    text-decoration: none;
    color: #111111;
}

.tema{
    background-color: #FF5F5F;
}

.logo{
    width: 20vw;
}

.imgCentro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#slideshow{
    position: relative;
    margin: auto;
    max-width: 100%;
    height: 0;
    padding-top: calc(100% * (85 / 300));
}

.banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 42%;
}

#ant, #prox{
    cursor: pointer;
    position: absolute;
    top: 45%;
    margin-top: -22px;
}

#prox{
    right: 0;
    rotate: 180deg;
}

#setaEsquerda, #setaDireita{
    margin-top: 8%;
    width: 50px;
    margin-left: 3vw;
}

#centro{
    width: 66px;
    margin: 0 auto;
}

#pontos{
    position: absolute;
    bottom: 0;
    margin-bottom: 1vh;
}

.ponto{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .ponto:hover{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

#grid-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    column-gap: 6vw;
    row-gap: 6vh;
}

.grid-item{
    border-radius: 7px;
    border: 2px solid #BFBFBF;
    padding: 1vw;
    width: 35vw;
}

.grid-produto{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 1vh;
}

.imgProduto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
}

.txtCentro{
    text-align: center;
}

.divNome{
    margin-bottom: 2vh;
}

.nomeProd{
    font-size: 18px;
}

.plataforma{
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
}

.red{
    background-color: #E80018;
    color: white;
}

.green{
    background-color: #0F7B0E;
    color: white;
}

.white{
    border: 2px solid black;
}

.divPreco{
    margin-top: 4vh;
}

.moeda{
    font-size: 14px;
}

.preco{
    font-size: 28px;
    font-weight: 500;
}

#footer-bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    column-gap: 3vw;
    justify-content: center;
}

.centroX{
    margin-top: 1.75vh;
}

#borda{
    border-left: 2px solid white;
    height: 7vh;
}

#copyright{
    color: white;
    font-weight: 300;
}



#grid-produto{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 6vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 6vh;
    column-gap: 4vw;
    justify-content: center;
}

#grid-voltar{
    display: grid;
    grid-template-columns: auto auto;
}

#imgVoltar{
    width: 45px;
}

#txtVoltar{
    margin-top: 1.25vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1.25vh;
    font-weight: 700;
}

#imgDetalhes{
    height: 50vw;
}

#divNome{
    margin-bottom: 2.5vh;
}

#nomeProd{
    font-size: 24px;
}

#plataforma{
    font-size: 16px;
}

#divPreco{
    margin-top: 6vh;
    margin-bottom: 5vh;
}

#moeda{
    font-size: 16px;
}

#preco{
    font-size: 28px;
    font-weight: 500;
}

#titleDetalhes{
    font-size: 18px;
}